body{
    background-color:#eee;
    height: 0%
}

.app {
    height: 100vh;
    background-color: #eee;
    
}

.welcome {
    background-image: url('../assets/welcome.jpg');
    background-size: cover;
    height: 100vh;
    width: 100%;
}